<html>
    <head>
        <title>Sidebar template</title>
        <link rel="stylesheet" href="../css/sidebar.css">
    </head>
    <body>
        <div class="sidebar">
            <div class="handle">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="header" >
            <div id="title">
                <label class="title"> T Resk </label>    
            </div>
            <div class="user-nav">
                <div class="help"> </div> 
            </div>
        </div>

        <script type="text/javascript" src="../js/sidebar.js"></script>
    </body>
</html>