<html>
    <head>
        <title>Sidebar template</title>
        <link rel="stylesheet" href="../css/sidebar.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	
		
        <div class="header" >
            <div id="title">
                <label class="title"> <span>S</span>pring<span>L</span>ight </label>    
            </div>
        </div>
		<div class="header-wrapper"></div>
		
		<div class="cover"></div>
        <div class="sidebar">
            <div class="handle" onclick='document.querySelector(".sidebar").classList.toggle("active");'>
                <div></div>
                <div></div>
                <div></div>
            </div>
			<div class="side-menu">
				<div class="menus">
					<div class="menu">
						<div class="menu-icon"></div>
						<div class="menu-label"> <label>Home</label></div>
					</div>
					<div class="menu">
						<div class="menu-icon"></div>
						<div class="menu-label"> <label>Products  </label></div>
					</div>
					<div class="menu">
						<div class="menu-icon"></div>
						<div class="menu-label"> <label>About</label></div>
					</div>
					<div class="menu">
						<div class="menu-icon"></div>
						<div class="menu-label"> <label>Join Us</label></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- form -->
		<div class="form">
			<div class="form-header">
				<div class="title"> Join Us </div>
				<div class="desc"></div>
			</div>
			<div class="form-body">
				<div class="element">
					<div class="label"> Full Name </div>
					<div class="control">
						<input type="text" class="textbox"/>
					</div>
				</div>
				<div class="element">
					<div class="label"> E-Mail </div>
					<div class="control">
						<input type="text" class="textbox"/>
					</div>
				</div>
				<div class="element">
					<div class="label"> User Name </div>
					<div class="control">
						<input type="text" class="textbox"/>
					</div>
				</div>
				<div class="element">
					<div class="label"> Password </div>
					<div class="control">
						<input type="text" class="textbox"/>
					</div>
				</div>
				<div class="element">
					<div class="control">
						<input type="submit" value="Submit & Join" class="button"/>
					</div>
					<div class="control">
						<input type="submit" value="Allready a Member" class="button"/>
					</div>
				</div>
			</div>
			<div class="form-footer"></div>
		</div>
		
		
		<div class="spinner round show" >
		</div>
		
		
        <script type="text/javascript" src="../js/sidebar.js"></script>
    </body>
</html>
